<div class="burger-mobile-menu js-menu-container" id="mobile-menu">
  <div class="burger-mobile-menu_conteiner conteiner">
    <div class="burger-mobile-menu-top">
      <a href="index.html" class="link-logo">
        <img
          srcset="images/header-logo.png   1x,
                  images/header-logo2x.png 2x"
          alt="logo"
        />
        <span class="logo-text">thewatchspot</span>
      </a>
      <button class="burger-close-button js-close-menu" type="button">
        <svg width="12px" height="12px" class="burger-close-icon">
          <use href="./partials/svg/symbol-defs.svg#icon-x-button"></use>
        </svg>
      </button>
    </div>
    <ul class="burger-mobile-header-nav list">
      <li class="burger-mobile-header-item">
        <a href="#about" class="burger-mobile-header-link">About us</a>
      </li>
      <li class="burger-mobile-header-item">
        <a href="#catalog" class="burger-mobile-header-link">Catalog</a>
      </li>
      <li class="burger-mobile-header-item">
        <a href="#sale" class="burger-mobile-header-link">Sale</a>
      </li>
    </ul>
  </div>
</div>
