<section class="catalog" id="catalog">
  <div class="catalog-container">
<h2 class="catalog-title">Catalog</h2>
<ul class="catalog-list">
  <li class="catalog-list-item">
    <div class="flip-card">
    <div class="flip-card-inner">
      <picture class="flip-card-front">
        <source 
          media="(min-width:375px) and (max-width:1279px)"
          srcset="images/IMG_9466-1m-t.png   1x,
                  images/IMG_9466-1m-t2x.png 2x"
        />
        <source
          media="(min-width:1280px)"
          srcset="images/IMG_9466-1-d.png   1x,
                  images/IMG_9466-1-d2x.png 2x"
        />
        <img
          src="images/IMG_9466-1m-t.png"
          alt="wrist watch"
          style="width: auto;"
          
        />
      </picture>
    <div class="flip-card-back">
      <div class="flip-back-wrap">
      <p class="catalog-cover-title">Description</p>
      <p class="catalog-cover-text">
        Richly detailed with an  understated design - the Police  Men’s Greenlane
        watch.
      </p>
      <p class="catalog-cover-title">DETAILS & FEATURESTION</p>
      <p class="catalog-cover-text">
        Gender: man 
        Size: 46x54.5mm 
        Case Colour: Steel Band 
        Material: Metal Case 
        Material: Metal 
        Features: Multifunction 
         Water Resistant: 5 (ATM) 
         Band Colour: Steel 
      </p>
      </div>
    </div>
    </div>
     </div>
     <h3 class="catalog-item-title cut-text">Tube Watch S42 Date Steel With Black Case</h3>
      <span class="catalog-item-price">€395</span>
  </li>
  <li class="catalog-list-item">
    <div class="flip-card">
    <div class="flip-card-inner">
        <picture class="flip-card-front">
        <source
          media="(min-width:375px) and (max-width:1279px)"
          srcset="images/IMG_9466-2m-t.png   1x, 
                  images/IMG_9466-2m-t2x.png 2x"       
        />
        <source
          media="(min-width:1280px)"
          srcset="images/IMG_9466-2-d.png   1x, 
                  images/IMG_9466-2-d2x.png 2x"
        />
        <img
          src="images/IMG_9466-2m-t.png"
          alt="wrist watch"
          style="width: auto"
        />
      </picture>
     <div class="flip-card-back">
      <div class="flip-back-wrap">
      <p class="catalog-cover-title">Description</p>
      <p class="catalog-cover-text">
        Richly detailed with an  understated design - the Police  Men’s Greenlane
        watch.
      </p>
      <p class="catalog-cover-title">DETAILS & FEATURESTION</p>
      <p class="catalog-cover-text">
        Gender: man 
        Size: 46x54.5mm 
        Case Colour: Steel Band 
        Material: Metal Case 
        Material: Metal 
        Features: Multifunction 
         Water Resistant: 5 (ATM) 
         Band Colour: Steel 
      </p>
      </div>
    </div>
    </div>
    </div>
    <h3 class="catalog-item-title cut-text">Avondale Watch Police For Men</h3>
      <span class="catalog-item-price">€800</span>
  </li>
  <li class="catalog-list-item">
    <div class="flip-card">
    <div class="flip-card-inner">
    
        <picture class="flip-card-front">
     <source
          media="(min-width:375px) and (max-width:1279px)"
          srcset="images/IMG_9466-3m-t.png   1x, 
                  images/IMG_9466-3m-t2x.png 2x"
        />
        <source
          media="(min-width:1280px)"
          srcset="images/IMG_9466-3-d.png   1x, 
                  images/IMG_9466-3-d2x.png 2x"
        />
        <img
          src="images/IMG_9466-3m-t.png"
          alt="wrist watch"
          style="width: auto"
        />
      </picture>
    <div class="flip-card-back">
      <div class="flip-back-wrap">
      <p class="catalog-cover-title">Description</p>
      <p class="catalog-cover-text">
        Richly detailed with an  understated design - the Police  Men’s Greenlane
        watch.
      </p>
      <p class="catalog-cover-title">DETAILS & FEATURESTION</p>
      <p class="catalog-cover-text">
        Gender: man 
        Size: 46x54.5mm 
        Case Colour: Steel Band 
        Material: Metal Case 
        Material: Metal 
        Features: Multifunction 
         Water Resistant: 5 (ATM) 
         Band Colour: Steel 
      </p>
      </div>
    </div>
    </div>
    </div>
    <h3 class="catalog-item-title cut-text">Diver 300M Co-Axial Master Chronometer Chronograph</h3>
      <span class="catalog-item-price">€600</span>
  </li>
  <li class="catalog-list-item">
    <div class="flip-card">
    <div class="flip-card-inner">
        <picture class="flip-card-front">
     <source
          media="(min-width:375px) and (max-width:1279px)"
          srcset="images/IMG_9466-4m-t.png   1x, 
                  images/IMG_9466-4m-t2x.png 2x"
        />
        <source
          media="(min-width:1280px)"
          srcset="images/IMG_9466-4-d.png   1x, 
                  images/IMG_9466-4-d2x.png 2x"
        />
        <img
          src="images/IMG_9466-4m-t.png"
          alt="wrist watch"
          style="width: auto"
          />
    .
      </picture>
     <div class="flip-card-back">
      <div class="flip-back-wrap">
      <p class="catalog-cover-title">Description</p>
      <p class="catalog-cover-text">
        Richly detailed with an  understated design - the Police  Men’s Greenlane
        watch.
      </p>
      <p class="catalog-cover-title">DETAILS & FEATURESTION</p>
      <p class="catalog-cover-text">
        Gender: man 
        Size: 46x54.5mm 
        Case Colour: Steel Band 
        Material: Metal Case 
        Material: Metal 
        Features: Multifunction 
         Water Resistant: 5 (ATM) 
         Band Colour: Steel 
      </p>
      </div>
    </div>
    </div>
    </div>
    <h3 class="catalog-item-title cut-text">Diver 300M Co-Axial Master Chronometer</h3>
      <span class="catalog-item-price">€1400</span>
  </li>
  <li class="catalog-list-item">
    <div class="flip-card">
    <div class="flip-card-inner">
        <picture class="flip-card-front">
      <source
          media="(min-width:375px) and (max-width:1279px)"
          srcset="images/IMG_9466-5m-t.png 1x, 
                images/IMG_9466-5m-t2x.png 2x"
        />
        <source
          media="(min-width:1280px)"
          srcset="images/IMG_9466-5-d.png 1x, 
                images/IMG_9466-5-d2x.png 2x"
        />
        <img
          src="images/IMG_9466-5m-t.png"
          alt="wrist watch"
          style="width: auto"
        />
      </picture>      
     <div class="flip-card-back">
      <div class="flip-back-wrap">
      <p class="catalog-cover-title">Description</p>
      <p class="catalog-cover-text">
        Richly detailed with an  understated design - the Police  Men’s Greenlane
        watch.
      </p>
      <p class="catalog-cover-title">DETAILS & FEATURESTION</p>
      <p class="catalog-cover-text">
        Gender: man 
        Size: 46x54.5mm 
        Case Colour: Steel Band 
        Material: Metal Case 
        Material: Metal 
        Features: Multifunction 
         Water Resistant: 5 (ATM) 
         Band Colour: Steel 
      </p>
      </div>
    </div>
    </div>
    </div>
    <h3 class="catalog-item-title cut-text">Taman Watch By Police For Men</h3>
      <span class="catalog-item-price">€555</span>
  </li>
  <li class="catalog-list-item">
    <div class="flip-card">
    <div class="flip-card-inner">
        <picture class="flip-card-front">
      <source
          media="(min-width:375px) and (max-width:1279px)"
          srcset="images/IMG_9466-6m-t.png   1x, 
                  images/IMG_9466-6m-t2x.png 2x"
        />
        <source
          media="(min-width:1280px)"
          srcset="images/IMG_9466-6-d.png   1x, 
                  images/IMG_9466-6-d2x.png 2x"
        />
        <img
          src="images/IMG_9466-6m-t.png"
          alt="wrist watch"
          style="width: auto"
        />
      </picture>
    <div class="flip-card-back">
      <div class="flip-back-wrap">
      <p class="catalog-cover-title">Description</p>
      <p class="catalog-cover-text">
        Richly detailed with an  understated design - the Police  Men’s Greenlane
        watch.
      </p>
      <p class="catalog-cover-title">DETAILS & FEATURESTION</p>
      <p class="catalog-cover-text">
        Gender: man 
        Size: 46x54.5mm 
        Case Colour: Steel Band 
        Material: Metal Case 
        Material: Metal 
        Features: Multifunction 
         Water Resistant: 5 (ATM) 
         Band Colour: Steel 
      </p>
      </div>
    </div>
    </div>
    </div>
     <h3 class="catalog-item-title cut-text">Malawi Watch Police For Men</h3>
      <span class="catalog-item-price">€555</span>
  </li>
  <li class="catalog-list-item">
    <div class="flip-card">
    <div class="flip-card-inner">
        <picture class="flip-card-front">
      <source
          media="(min-width:375px) and (max-width:1279px)"
          srcset="images/IMG_9466-7m-t.png   1x, 
                  images/IMG_9466-7m-t2x.png 2x"
        />
        <source
          media="(min-width:1280px)"
          srcset="images/IMG_9466-7-d.png   1x, 
                  images/IMG_9466-7-d2x.png 2x"
        />
    .
        <img
          src="images/IMG_9466-7m-t.png"
          alt="wrist watch"
          style="width: auto"
        />
      </picture>
    <div class="flip-card-back">
      <div class="flip-back-wrap">
      <p class="catalog-cover-title">Description</p>
      <p class="catalog-cover-text">
        Richly detailed with an  understated design - the Police  Men’s Greenlane
        watch.
      </p>
      <p class="catalog-cover-title">DETAILS & FEATURESTION</p>
      <p class="catalog-cover-text">
        Gender: man 
        Size: 46x54.5mm 
        Case Colour: Steel Band 
        Material: Metal Case 
        Material: Metal 
        Features: Multifunction 
         Water Resistant: 5 (ATM) 
         Band Colour: Steel 
      </p>
      </div>
    </div>
    </div>
    </div>
     <h3 class="catalog-item-title cut-text">Diver 300M Co-Axial Master Chronometer </h3>
      <span class="catalog-item-price">€1200</span>
  </li>
  <li class="catalog-list-item">
    <div class="flip-card">
    <div class="flip-card-inner">
        <picture class="flip-card-front">
     <source
          media="(min-width:375px) and (max-width:1279px)"
          srcset="images/IMG_9466-8m-t.png   1x, 
                  images/IMG_9466-8m-t2x.png 2x"
        />
        <source
          media="(min-width:1280px)"
          srcset="images/IMG_9466-8-d.png   1x, 
                  images/IMG_9466-8-d2x.png 2x"
        />
        <img
          src="images/IMG_9466-8m-t.png"
          alt="wrist watch"
          style="width: auto"
        />
      </picture>
     <div class="flip-card-back">
      <div class="flip-back-wrap">
      <p class="catalog-cover-title">Description</p>
      <p class="catalog-cover-text">
        Richly detailed with an  understated design - the Police  Men’s Greenlane
        watch.
      </p>
      <p class="catalog-cover-title">DETAILS & FEATURESTION</p>
      <p class="catalog-cover-text">
        Gender: man 
        Size: 46x54.5mm 
        Case Colour: Steel Band 
        Material: Metal Case 
        Material: Metal 
        Features: Multifunction 
         Water Resistant: 5 (ATM) 
         Band Colour: Steel 
      </p>
      </div>
    </div>
    </div>
    </div>
     <h3 class="catalog-item-title cut-text">Greenlane Watch By Police For Men</h3>
      <span class="catalog-item-price">€1000</span>
  </li>
  <li class="catalog-list-item">
    <div class="flip-card">
    <div class="flip-card-inner">
        <picture class="flip-card-front">
        <source
          media="(min-width:1280px)"
          srcset="images/IMG_9466-9-d.png   1x, 
                  images/IMG_9466-9-d2x.png 2x"
        />
        <img
          src="images/IMG_9466-9-d.png"
          alt="wrist watch"
          style="width: auto"
        />
      </picture>
     <div class="flip-card-back">
      <div class="flip-back-wrap">
      <p class="catalog-cover-title">Description</p>
      <p class="catalog-cover-text">
        Richly detailed with an  understated design - the Police  Men’s Greenlane
        watch.
      </p>
      <p class="catalog-cover-title">DETAILS & FEATURESTION</p>
      <p class="catalog-cover-text">
        Gender: man 
        Size: 46x54.5mm 
        Case Colour: Steel Band 
        Material: Metal Case 
        Material: Metal 
        Features: Multifunction 
         Water Resistant: 5 (ATM) 
         Band Colour: Steel 
      </p>
      </div>
    </div>
    </div>
    </div>
    <h3 class="catalog-item-title cut-text">Squardrc 5402 Chrono</h3>
      <span class="catalog-item-price">€359</span>
  </li>
  <li class="catalog-list-item">
    <div class="flip-card">
    <div class="flip-card-inner">
        <picture class="flip-card-front">
        <source
          media="(min-width:1280px)"
          srcset="images/IMG_9466-10-d.png   1x, 
                  images/IMG_9466-10-d2x.png 2x"
        />
        <img
          src="images/IMG_9466-10-d.png"
          alt="wrist watch"
          style="width: auto"
        />
      </picture>
     <div class="flip-card-back">
      <div class="flip-back-wrap">
      <p class="catalog-cover-title">Description</p>
      <p class="catalog-cover-text">
        Richly detailed with an  understated design - the Police  Men’s Greenlane
        watch.
      </p>
      <p class="catalog-cover-title">DETAILS & FEATURESTION</p>
      <p class="catalog-cover-text">
        Gender: man 
        Size: 46x54.5mm 
        Case Colour: Steel Band 
        Material: Metal Case 
        Material: Metal 
        Features: Multifunction 
         Water Resistant: 5 (ATM) 
         Band Colour: Steel 
      </p>
      </div>
    </div>
    </div>
    </div>
     <h3 class="catalog-item-title cut-text">Diver  300M Co-Axial Master Chronometer Chronograph</h3>
      <span class="catalog-item-price">€400</span>
  </li>
  <li class="catalog-list-item">
    <div class="flip-card">
    <div class="flip-card-inner">
        <picture class="flip-card-front">
        <source
          media="(min-width:1280px)"
          srcset="images/IMG_9466-11-d.png   1x, 
                  images/IMG_9466-11-d2x.png 2x"
        />
        <img
          src="images/IMG_9466-11-d.png"
          alt="wrist watch"
          style="width: auto"
        />
      </picture>
    <div class="flip-card-back">
      <div class="flip-back-wrap">
      <p class="catalog-cover-title">Description</p>
      <p class="catalog-cover-text">
        Richly detailed with an  understated design - the Police  Men’s Greenlane
        watch.
      </p>
      <p class="catalog-cover-title">DETAILS & FEATURESTION</p>
      <p class="catalog-cover-text">
        Gender: man 
        Size: 46x54.5mm 
        Case Colour: Steel Band 
        Material: Metal Case 
        Material: Metal 
        Features: Multifunction 
         Water Resistant: 5 (ATM) 
         Band Colour: Steel 
      </p>
      </div>
    </div>
    </div>
    </div>
    <h3 class="catalog-item-title cut-text">Citizen</h3>
      <span class="catalog-item-price">€519</span>
  </li>
  <li class="catalog-list-item">
    <div class="flip-card">
    <div class="flip-card-inner">
        <picture class="flip-card-front">
        <source
          media="(min-width:1280px)"
          srcset="images/IMG_9466-12-d.png   1x, 
                  images/IMG_9466-12-d2x.png 2x"
        />
        <img
          src="images/IMG_9466-12-d.png"
          alt="wrist watch"
          style="width: auto"
        />
      </picture>
     <div class="flip-card-back">
      <div class="flip-back-wrap">
      <p class="catalog-cover-title">Description</p>
      <p class="catalog-cover-text">
        Richly detailed with an  understated design - the Police  Men’s Greenlane
        watch.
      </p>
      <p class="catalog-cover-title">DETAILS & FEATURESTION</p>
      <p class="catalog-cover-text">
        Gender: man 
        Size: 46x54.5mm 
        Case Colour: Steel Band 
        Material: Metal Case 
        Material: Metal 
        Features: Multifunction 
         Water Resistant: 5 (ATM) 
         Band Colour: Steel 
      </p>
      </div>
    </div>
    </div>
    </div>
    <h3 class="catalog-item-title cut-text">Armani Exchange</h3>
      <span class="catalog-item-price">€400</span>
  </li>
</ul>
<button type="button" class="catalog-button" data-modal-open>Buy now</button>
</div>
</section>
<div class="backdrop is-hidden" data-modal>
  <div class="modal-window">
    <button type="button" class="button-modal" data-modal-close>
      <svg class="section-one-icon">
        <use href="./partials/svg/symbol-defs.svg#icon-x-button"></use>
      </svg>
    </button>
    <div class="modal-div">
      <div class="modal-image">
        <img
          src="/src/images/IMG_9466-1m-t.png"
          alt="Wrist Watch"
          width="276px"
          srcset="
            /src/images/IMG_9466-1m-t.png   1x,
            /src/images/IMG_9466-1m-t2x.png 2x"
          loading="lazy
        "
        />
        <h2 class="modal-text-name cut-text-modal">
          Tube Watch S42 Date Steel With Black Case
        </h2>
        <p class="modal-text-price">€395</p>
      </div>
      <form class="modal-form" action="">
        <div class="form-fill">
          <label for="user-name" class="modal-label">Full name</label>
          <input
            type="text"
            class="modal-input"
            id="user-name"
            autocomplete="family-name"
            name="Name"
            placeholder="Enter your full name"
            required
            minlength="3"
          />
        </div>
        <div class="form-fill">
          <label for="user-phone" class="modal-label">Email</label>
          <input
            type="email"
            class="modal-input"
            id="user-phone"
            name="user phone"
            placeholder="Enter your email"
          />
        </div>
        <div class="form-fill">
          <label for="user-card-data" class="modal-label">Card number</label>
          <input
            type="number"
            class="modal-input"
            id="user-card-data"
            name="user card"
            placeholder="Enter card number"
            required
            minlength="16"
          />
        </div>
        <div class="form-fill">
          <label for="Comment" class="modal-label">Comments</label>
          <textarea
            name="Comment"
            id="Comment"
            placeholder="Enter your text"
            class="modal-input-text"
          ></textarea>
        </div>
        <button type="submit" class="modal-form-button">Submit</button>
        <p class="modal-paragraf">
          By clicking on “Submit” button, you agree to our
          <a
            class="modal-paragraf"
            href="https://en.wikipedia.org/wiki/Privacy_policy#:~:text=A%20privacy%20policy%20is%20a,a%20customer%20or%20client's%20data."
            target="_blank"
            >Privacy Policy,</a
          >
          and allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</div>
