<section class="hero">
  <div class="hero-container">
    <div class="hero-wrapper">
      <div class="hero-title">
        <h1 class="hero-title-text">
          Welcome to our collection of premium watches
        </h1>
      </div>
      
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
       <picture class="swiper-slide-img">
              <source
                media="(max-width:767px)"
                srcset="images/swiper5-m.png    1x, 
                        images/swiper5-m-2x.png 2x"
              />
              <source
                media="(min-width:768px)"
                srcset="images/swiper5-t-d.png    1x,
                        images/swiper5-t-d-2x.png 2x"
              />
              <img
                src="images/swiper5-m.png"
                alt="The watch. Slide1"
                loading="lazy"
              />
            </picture>
    </div>
    </div>
    </div>
    <div class="hero-swiper-buttons">
      <button class="hero-swiper-button-prev">
        <svg class="hero-swiper-button-svg">
          <use href="./partials/svg/symbol-defs.svg#icon-chevron-left"></use>
        </svg>
      </button>
      <button class="hero-swiper-button-next">
        <svg class="hero-swiper-button-svg">
          <use href="./partials/svg/symbol-defs.svg#icon-chevron-right"></use>
        </svg>
      </button> <div class="hero-swiper-counter">
        <span class="hero-swiper-counter-number1">01</span>
        <svg class="hero-counter-svg">
          <use href="./partials/svg/symbol-defs.svg#icon-Vector-3"></use>
        </svg>
        <span class="hero-swiper-counter-number5">05</span>

      </div>
    </div>
   

       <div class="hero-description">
        <p class="hero-description-text">Our watches are not just timepieces, 
            but also an expression of your personality and lifestyle. 
            From classic designs to modern ones, we have a watch to suit every taste and occasion.
        </p>
      </div> 
      </div>
      <div class="hero-img">
        <picture>
            <source
                media="(max-width:767px)"
                srcset="images/hero-static-m.png, 
                images/hero-static-m-2x.jpg"
              />
              <source
                media="(min-width:768px) and (max-width:1279px)"
                srcset="images/hero-static-t.png    1x,
                        images/hero-static-t-2x.jpg 2x"
              />
              ,<source
              media="(min-width: 1280px)"
              srcset="images/hero-static-d.png    1x,
                      images/hero-static-d-2x.jpg 2x"/>
              <img
                src="images/hero-static-d.png"
                alt="The watch"
                loading="lazy"
              />
        </picture>
      </div>
    </div>
  </div>
  </section>

  
