<header class="header-section">
    <div class="global-header container">
      <nav class="navigation-list">
        <a class="logo-link-image" href="./index.html">
          <img class="img" src="images/logo-w.png" alt="logo-i" />
          <span class="logo-text">thewatchspot</span>
        </a>
        <ul class="nav-links">
          <li><a href="#about" class="navigation-item">ABOUT US</a></li>
          <li><a href="#catalog" class="navigation-item">CATALOG</a></li>
          <li><a href="#sale" class="navigation-item">SALE</a></li>
        </ul>
      </nav>
      <address class="address-nav">
        <a href="tel:+380684439426" class="contacts"
          > +380 (68) 443-94-26 </a
        >
      </address>
      <button
        type="button"
        class="open-btn-menu js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        
      >
        <svg width="20" height="14" class="icon-open-menu">
          <use href="./partials/svg/symbol-defs.svg#icon-menu-left"></use>
        </svg>
      </button>
    </div>
  </header>
  
  