<section id="sale" class="sale-section">
  <div class="sale-container">
    <div class="section-content">
      <h2 class="sale-section-heading">Sale</h2>
      <div class="watch-photo-container">
        <div class="small-photos-list">
          <picture class="small-photo">
            <source
              media="(min-width: 768px)"
              srcset="
                images/watch-img-1-t-d.png    1x,
                images/watch-img-1-t-d-2x.png 2x
              "
            />
            <source
              media="(min-width: 375px)"
              srcset="
                images/watch-img-1-m.png    1x,
                images/watch-img-1-m-2x.png 2x
              "
            />
            <img src="images/watch-img-1-m.png" alt="watch" />
          </picture>
          <picture class="small-photo">
            <source
              media="(min-width: 768px)"
              srcset="
             images/watch-img-2-t-d.png    1x,
             images/watch-img-2-t-d-2x.png 2x
              "
            />
            <source
              media="(min-width: 375px)"
              srcset="
                images/watch-img-2-m.png    1x,
                images/watch-img-2-m-2x.png 2x
              "
            />
            <img src="images/watch-img-2-m.png" alt="watch" />
          </picture>
          <picture class="small-photo">
            <source
              media="(min-width: 768px)"
              srcset="
                images/watch-img-3-t-d.png    1x,
                images/watch-img-3-t-d-2x.png 2x
              "
            />
            <source
              media="(min-width: 375px)"
              srcset="
                images/watch-img-3-m.png    1x,
                images/watch-img-3-m-2x.png 2x
              "
            />
            <img src="images/watch-img-3-m.png" alt="watch" />
          </picture>
          <picture class="small-photo">
            <source
              media="(min-width: 768px)"
              srcset="
                images/watch-img-4-t-d.png    1x,
                images/watch-img-4-t-d-2x.png 2x
              "
            />
            <source
              media="(min-width: 375px)"
              srcset="
                images/watch-img-4-m.png    1x,
                images/watch-img-4-m-2x.png 2x
              "
            />
            <img src="images/watch-img-4-m.png" alt="watch" />
          </picture>
        </div>

        <picture class="main-photo">
          <source
            media="(min-width: 768px)"
            srcset="
              images/watch-main-img-t-d.png    1x,
              images/watch-main-img-t-d-2x.png 2x
            "
          />
          <source
            media="(min-width: 375px)"
            srcset="
              images/watch-main-img-m.png 1x,
              images/watch-main-img-m.png 2x
            "
          />
          <img src="images/watch-main-img-m.png" alt="watch" />
        </picture>
      </div>

      <div class="watch-info-container">
        <div class="info-box">
          <h3 class="product-name">Greenlane Watch By Police For MenHT</h3>
          <p class="product-tag">Product tag: PEWJK2227003</p>
          <div class="price">
            <span class="actual-price">&euro;700</span>
            <span class="old-price">&euro;1000</span>
          </div>
        </div>
        <div class="info-box">
          <div class="info-box-row">
            <h4 class="product-description">Description</h4>
            <button class="collapsible-button" type="button">
              <svg width="16px" height="2px">
                <use href="./partials/svg/symbol-defs.svg#icon-collapsible-button"></use>
              </svg>
            </button>
          </div>
          <div class="collapsible-content">
            <p class="collapsible-text">
              Richly detailed with an understated design - the Police Men&apos;s
              Greenlane watch features a versatile multifunction design that
              fits effortlessly into work and play. The steel case is adorned
              with a semi-transparent black dial. The timepiece exhibits a
              contrast through a black IP bracelet with matching crown and
              pushers.
            </p>
          </div>
        </div>
        <div class="info-box">
          <div class="info-box-row">
            <h4 class="product-details">DETAILS &amp; FEATUREStion</h4>
            <button class="collapsible-button" type="button">
              <svg width="16px" height="2px">
                <use href="./partials/svg/symbol-defs.svg#icon-collapsible-button"></use>
              </svg>
            </button>
          </div>
          <div class="collapsible-content">
            <pre class="collapsible-text">
              Gender: man
              Size: 46x54.5mm
              Case Colour: Steel
              Band Material: Metal
              Case Material: Metal
              Features: Multifunction
              Water Resistant: 5 (ATM)
              Band Colour: Steel
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
